/* not-found.component.css */

.not-found {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    font-size: 3rem;
    color: #FF5733; /* Change the color to your preference */
  }
  
  p {
    font-size: 1.5rem;
    color: #777;
    margin-top: 10px;
  }
  